.OutsideContainer {
  width: 90%;
  margin: 5px auto;
}

.DateAndTime {
  width: auto;
  border-radius: 5px;
  padding: 3px;
  color: #F39C12;
  font-weight: bold;
  text-align: center;
  margin: 2px 0px;
}

.Time {
  color: #82E0AA;
}

.Description {
  color: #BB8FCE;
  margin-top: 0px;
}

.ForecastContainer {
  width: 100%;
  margin: auto;
  color: #BB8FCE;
  border: 1px solid #283E51;
  background: #283E51;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  /* align horizontal */
  align-items: center;
}

.Image {
  border: 1px solid #283E51;
  border-radius: 50%;
  background: #85C1E9;
  width: 50px;
  float: left;
}

.Temp {
  float: right;
  font-weight: bold;
}

.Degrees {
  font-size: 0.8rem;
}