.Container {
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid;
  background: #100 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
  padding: 5px;
}

.TempBox {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  background: #111;
}

.TempSymbol {
  font-size: 15px;
}

.MainTemp {
  font-size: 25px;
  font-weight: bold;
}

.ExactTemp {
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  font-weight: lighter;
}