.Container {
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid;
  background: #333;
  padding: 5px;
}

.TempBox {

  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  background: #333;
}

.TempSymbol {
  font-size: 15px;
}

.MainTemp {
  font-size: 22px;
}

.ExactTemp {
  font-family: Mukta;
  font-size: 12px;
  font-weight: lighter;
}