.Container {
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid;
  padding: 5px;
}

.Desc {
  font-size: 1.5rem;
  font-weight: bold;
}

.MainBox {
  width: 100%;
  padding: 5px;
}

.TempSymbol {
  font-size: 15px;
}

.MainTemp {
  font-size: 25px;
  font-weight: bold;
}

.ExactTemp {
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  font-weight: lighter;
}