.CityDetails {
  width: 50%;
  font-size: 30px;
  margin: 10px auto;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
}

.CountryCode {
  font-size: 15px;
}