.forecast {
  border: solid #283E51 1px;
  border-radius: 2px;
  width: 90px;
  height: auto;
  padding: 2px;
  display: inline-block;
  background: #AED6F1;
  transition: ease-in-out 0.1s;
  z-index: -1;
  cursor: pointer;
}

.forecast:hover {
  transform: translateY(-1px);
  background: #58D68D;
}

.dateAndTime {
  display: flex;
  justify-content: space-between;
}

.date,
.time {
  font-weight: bolder;
  padding: 2px;
  margin: 2px;
  color: #283E51;
}

.time {
  /* font-family: monospace; */
  border: #283E51 1px solid;
  background: rgba(52, 152, 219, 0.35);
  vertical-align: center;
  font-size: 0.8em;
}

.icons {
  display: inline-block;
  margin: 5px auto;
}

.weatherIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 0px 5px 5px;
  background-color: #AED6F1;
  border: 2px #283E51 solid;
}

.temp {
  height: 20px;
  width: 20px;
  line-height: 22px;
  padding: 5px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #283E51;
  background-color: rgba(243, 156, 18);
  position: absolute;
  color: #283E51;
  font-size: 0.9em;
  font-weight: bold;
}
