.Container {
  background-image: url('https://images.unsplash.com/photo-1523194370211-ba028386e9ad?ixlib=rb-0.3.5&s=89bc37b06fca542e1af0ca9683a73a76&auto=format&fit=crop&w=1113&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
}

.outerContainer {
  background-color: rgba(40, 62, 81, 0.7);
  background-size: cover;
  border-radius: 5px;
  margin: 0 auto;
  /* min-height: 400px; */
  padding: 20px;
  display: block;
  align-content: center;
  justify-content: center;
}