.Navbar {
    width: 100%;
    border-bottom: solid 1px #F39C12;
    background-color: #283E51;
    margin-bottom: 10px;
}

.NavLink {
    float: right;
    margin: 5px;
    padding: 5px;
    line-height: 40px;
    background: #F39C12;
    /* text-decoration: none; */
    font-weight: bold;
}