@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #283E51, rgba(75, 121, 161, 0));
  background: linear-gradient(to left, #283E51, #4B79A1);
}