body {
  margin: 0;
  padding: 0;
  font-family: 'Sniglet', cursive;
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #283E51, rgba(75, 121, 161, 0));
  background: linear-gradient(to left, #283E51, #4B79A1);
}