body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  width: 100wh;
  height: 100vh;
  color: #fff;
  background-size: 400% 400%;
  -webkit-animation: Gradient 60s ease-in-out infinite;
  -moz-animation: Gradient 60s ease-in-out infinite;
  animation: Gradient 60s ease-in-out infinite;
  background: linear-gradient(-255deg, #E73C7E, #00b0ff, #111, #222);
  background-repeat: no-repeat;
  background-size: 200% 200%;

}

body::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  /* height: 100vh; */
  background-image: url('https://images.unsplash.com/photo-1538837117224-c4c3a72be1e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  animation: Gradient 60s linear infinite;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x
}

button:focus {
  outline: transparent;
  cursor: pointer;
}

input:focus {
  background: transparent;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  25% {
    background-position: 60% 50%
  }

  50% {
    background-position: 100% 50%
  }

  75% {
    background-position: 60% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  25% {
    background-position: 60% 50%
  }

  50% {
    background-position: 100% 50%
  }

  75% {
    background-position: 60% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  25% {
    background-position: 60% 50%
  }

  50% {
    background-position: 100% 50%
  }

  75% {
    background-position: 60% 50%
  }

  100% {
    background-position: 0% 50%
  }
}