.Input {
  width: 100%;
  margin: 0 auto;
}

.Input,
.Button {
  border: #283E51;
  border-radius: 5px;
  height: 40px;
  background: #283E51;
  color: #D35400;
  padding: 5px;
  font-size: 20px;
  font-family: inherit;
}

.Input:focus,
.Button:focus {
  outline: none;
}

.Button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: -40px;
  cursor: pointer;
  position: absolute;
}

.SearchedCity {
  color: #82E0AA;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px auto;
}